apiVersion: apps/v1
kind: Deployment
metadata:
 name: http-echo-foo
 namespace: default
spec:
 replicas: 1
 selector:
    matchLabels:
      app: http-echo-foo
 template:
    metadata:
      labels:
        app: http-echo-foo
    spec:
      containers:
      - name: http-echo
        image: hashicorp/http-echo
        args:
        - "-text=foo"
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
 name: http-echo-foo
 namespace: default
spec:
 selector:
    app: http-echo-foo
 ports:
    - protocol: TCP
      port: 80
      targetPort: 80
